.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    cursor: pointer;


    h3 {
        font-size: 18px;
        font-weight: 400;
    }

    img {
        width: 10%;
        height: 15%;
    }
}

@media (max-width: 320px) { 

    .cartItem {

        gap: 15px;

        h3 {
            font-size: 12px;
            font-weight: 400;
        }
    
        img {
            width: 15%;
            height: 20%;
        }
    }
}