.button {
    border-radius: 10px;
    border-style: none;
    background-color: rgb(43, 36, 36);
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 10px;
    cursor: pointer;
}