

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;

    .title {
        font-size: 18px;
        color: gray;
    
    }
    .myLoader {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 10px dotted purple;
        animation: rotate 1s infinite linear;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.4); 
    }
}