* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  box-sizing: border-box;
}

.products {
  box-sizing: border-box;
  padding: 20px;
  display: grid; 
  grid-auto-columns: 33.3%; 
  grid-template-columns: calc(33.3% - 30px); 
  gap: 15px; 
  grid-template-areas: 
    ". . . "

}

.cartEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 320px) {
  .products {
    grid-auto-columns: 100%; 
    grid-template-columns: calc(100%); 
    grid-template-areas: 
      "."
  
  }
}
